.videos-container {
  min-height: 40vh;
  min-width: 50vw;
  @include flex(column, flex-start, center);
  padding: 2.5rem;
}

.player-buttons {
  width: 100%;
  @include flex(row, space-evenly, center);
  padding: 2rem;
}
