.library-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  box-shadow: 4px 4px 50px rgb(201, 200, 200);
  @include flex(column, flex-start, flex-start);
  padding: 1rem;
  overflow: scroll;
}

.item-container {
  width: 100%;
  img {
    width: 100%;
    padding: 1rem 0rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
}
