.videoPlayer-container {
  height: 100%;
  width: 100%;
  @include flex(column, center, center);
}

.video-container {
  height: 65vh;
  width: 40%;
  @include flex(column, center, center);
  .video {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.controls-container {
  height: 35vh;
  width: 100%;
  @include flex(column, center, center);
}

.controls-buttons {
  width: 50%;
  @include flex(row, space-evenly, center);
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem 2rem;
  }
}

.player-buttons {
  width: 50%;
  @include flex(row, space-evenly, center);
  padding: 2.5rem;
}
